* {

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  html {
    height: 100%;
    width: 100%;
  }
  body {
    height: 100%;
    width: 100%;
 
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


  }
  
  main {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }