
/* Styles required only for the example above */
.scrollspy-example {

    height: 200px;
    overflow: auto;
    width:  100% ;
    height: 700px;
  }
  
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
 
  
  main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
  }
  


.scrollcontainer{
  width:  100% ;
  height: 800;

}